<%- include('../includes/head.ejs') %>
	<link rel="stylesheet" href="/css/cart.css">
	</head>

	<body>
		<%- include('../includes/navigation.ejs') %>
			<main>
				<ul class="cart__item-list">
					<% products.forEach(p=> { %>
						<li class="cart__item">
							<h1>
								Title: <%= p.productId.title %>
							</h1>
							<h2>
								Quantity: <%= p.quantity %>
							</h2>
						</li>
						<% }) %>
				</ul>
				<div class="centered">
					<br>
					<hr>
					<h2>
						Total: <%= totalSum %>
					</h2>
				</div>
				<div class="centered">
					<button id="order-btn" class="btn"> ORDER </button>
					<script src="https://js.stripe.com/v3/"></script>
					<script>
						var stripe = Stripe('pk_test_51Ico06SHKWG7HtNPm8GIrgku3EXr5FkbdHZzUKJBmpsyr4dOsecYiSH25d6hfziQC65EKqk2Z2liTSu2FNEZ7HXN00bA680rN4')
						var orderBtn = document.getElementById('order-btn');
						orderBtn.addEventListener('click', function () {
							stripe.redirectToCheckout({
								sessionId: '<%= sessionId %>'
							})
						});
					</script>
				</div>
			</main>
			<%- include('../includes/end.ejs') %>